<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 mt-5">
            <div class="container">
                <div class="form-sesion">
                    <div class="form-sesion-header">Iniciar sesión</div>
                    <div *ngIf="errorBoolMsg" class="error d-flex justify-content-center align-items-center">
                        {{errorMsg}}
                    </div>
                    <div class="mail">
                        <div class="input-title-ontop">
                            <div class="input-title" [ngClass]="{'titleTop': !active2, 'titleTop active': active2}">Tu correo</div>
                                <input type="text" class="titleTop megaInputs" name="email" id="login-name2" value="" maxlength="190" [(ngModel)]="email" (focus)="Active2()">
                        </div>
                    </div>
                    <div class="password">
                        <div class="input-title-ontop">
                            <div class="input-title" [ngClass]="{'titleTop': !active3, 'titleTop active': active3}">Contraseña</div>
                                <input type="password" class="titleTop megaInputs" maxlength="190" [(ngModel)]="password" (focus)="Active3()">
                            <div class="message-container">
                            </div>
                        </div>
                        <div class="lost-password text-right">
                            <fa-icon class="hover-blue mr-1" [icon]="lock"></fa-icon>¿Has olvidado tu contraseña?
                        </div>
                    </div>
                    <div class="row mb-5 mt-3 d-flex align-items-center">
                        <div class="col-12 col-md-6  d-flex justify-content-left ">
                            <div class="login-check checkbox checkboxOff justify-content-start">
                                <input class="checkboxOn megaInputs" type="checkbox" name="login-check2" id="login-check2" checked="checked">
                                <label class="radio-txt ml-1">Recuérdame</label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <button class="btn btn-lg btn-block btn-spa-blue  justify-content-right" (click)="ngOnSubmit()" [ngClass]="{'btn-disabled':loading}">
                                {{textForm}} 
                                <fa-icon *ngIf="!loading" class="ml-2" [icon]="icon"></fa-icon>
                                <fa-icon *ngIf="loading" [spin]="true" class="ml-2" [icon]="icon"></fa-icon>

                            </button>
                        </div>
                    </div>
                <!-- </form> -->
                </div> 
            </div>
        </div>
        <div class="col-12 col-md-6 mt-5">
            <div class="container ">
                <div class="form-sesion">
                    <div class="form-sesion-header">Enviar <span class="text-water">Pago</span></div>
                    <div class="row">
                        <div class="col-12">
                            <div class="input-title-ontop">
                                <div class="input-title ml-30" [ngClass]="{'titleTop': !active, 'titleTop active': active}">Documento de identidad d</div>
                                <select class="selectCustom">
                                    <option value="">V</option>
                                    <option value="">E</option>
                                    <option value="">J</option>
                                </select>
                                    <input type="text" class="titleTop active" name="login-name2" id="login-name2" value="" maxlength="190" (focus)="Active()">
                                <div class="message-container">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-title-ontop">
                                <div class="input-title active">Nombre</div>
                                    <input type="text" class="titleTop" name="login-name2" id="login-name2" value="Lismary" maxlength="190"> 
                                <div class="message-container">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-title-ontop">
                                <div class="input-title active">Apellido</div>
                                    <input type="text" class="titleTop" name="login-name2" id="login-name2" value="Rivas" maxlength="190">
                                <div class="message-container">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="input-title-ontop">
                                <div class="input-title active">Fecha de pago</div>
                                    <input type="date" id="start" name="trip-start"
                                    value="2020-06-18"
                                    max="2020-12-31"
                                    min="2020-01-01">
                                <div class="message-container">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="input-title-ontop">
                                <div class="input-title active">Medio:</div>
                                <select class="titleTop select-none">
                                  <option value="6">Transferencia (Mercantil)</option>
                                  <option value="7">Transferencia (Banesco)</option>
                                  <option value="8">Pago Movil (Mercantil)</option>
                                  <option value="9">Pago Movil (Banesco)</option>
                              </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="input-title-ontop">
                                <div class="input-title active">Referencia:</div>
                                    <input type="number" maxlength="12">
                                <div class="message-container">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 cursor">
                            <div class="input-title-ontop cursor">
                                <div class="input-title active">Comprobante:</div>
                                <input type="file" style="opacity: 0;">
                            </div>
                        </div>
       
                        <div class="col-12">
                            <div class="row d-flex align-items-center">
                                <div class="col-12  d-flex ">
                                    <div class="login-check checkbox checkboxOff justify-content-start">
                                        <input class="checkboxOn megaInputs" type="checkbox" name="login-check2" id="login-check2" checked="checked">
                                        <label class="radio-txt ml-1">Acepto los <a href="#"><span class="text-water">Términos de servicio</span></a> de Spa</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="mail">

                    </div>

                    <div class="row mb-5 mt-3 d-flex align-items-center justify-content-center">
                        <div class="col-12 col-md-6">
                            <button class="btn btn-lg btn-block btn-spa-blue  justify-content-right">
                                Enviar
                                <fa-icon *ngIf="!loading" class="ml-2" [icon]="icon"></fa-icon>
                                <fa-icon *ngIf="loading" [spin]="true" class="ml-2" [icon]="icon"></fa-icon>

                            </button>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>

</div>