<div class="col-12 mt-n4">
    <span class="title-carouse ml-5">Gestion de pacientes</span>
    <fa-icon (click)="open(content,1)" class="hover-blue ml-3 text-gray cursor" [icon]="addUser" placement="bottom" ngbTooltip="Registrar paciente"></fa-icon>

</div>
<div class="row mt-4 ml-5">
    <div class="col-11 container-curved">
        <div class="header row text-center mb-2 mt-n3">
            <div class="col-2 header-title">Codigo</div>
            <div class="col-3 header-title">Nombre</div>
            <div class="col-3 header-title">Apellido</div>
            <div class="col-2 header-title">Edad</div>
            <div class="col-2 header-title"></div>
        </div>
        <div *ngIf="!deleteUser" class="row ml-2 transparent-water-hover">
            <div class="col-2 container-payment mt-2 text-center">
                <span class="text-gray">P-01</span>
            </div>
            <div class="col-3 container-payment mt-2 text-center">
                <span class="text-gray">Ana</span>
            </div>
            <div class="col-3 container-payment mt-2 text-center">
                <span class="text-gray">Rojas</span>
            </div>
            <div class="col-2 container-payment mt-2 text-center">
                <span class="text-gray">24</span>
            </div>
            <div class="col-2 container-payment mt-2 text-center">
                <fa-icon (click)="open(content,2)" class="hover-blue mr-2 text-gray cursor" [icon]="user" placement="top" ngbTooltip="Datos de paciente"></fa-icon>
                <fa-icon (click)="open(content,3)" class="hover-blue mr-2 text-gray cursor" [icon]="notesMedical" placement="top" ngbTooltip="Historial medico"></fa-icon>
                <fa-icon (click)="open(content,4)" class="hover-blue mr-2 text-gray cursor" [icon]="fileDollar" placement="top" ngbTooltip="Historial de pagos"></fa-icon>
                <fa-icon (click)="DeleteUser()" class="hover-blue mr-2 text-gray cursor" [icon]="delete" placement="top" ngbTooltip="Eliminar paciente"></fa-icon>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"></h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div *ngIf="modalID == 1" class="modal-body">
        <div class="form-group">
          <div class="row ml-5 mr-5">
              <div class="col-6">
                <div class="input-title-ontop">
                    <div class="input-title active">Cédula:</div>
                    <input type="number" class="titleTop" maxlength="12"> 
                    <span><fa-icon class="cursor hover-orange" [icon]="search"></fa-icon></span> 

                </div>
              </div>
              <div class="col-6">
                  <div class="input-title-ontop">
                      <div class="input-title active">Telefono:</div>
                          <input type="number" class="titleTop"  value="" maxlength="12"> 
                  </div>
            </div>
          </div>
          <div class="row ml-5 mr-5">
              <div class="col-6">
                  <div class="input-title-ontop">
                      <div class="input-title active">Nombre:</div>
                          <input type="text" class="titleTop"  value="" maxlength="12"> 
                  </div>
              </div>
              <div class="col-6">
                  <div class="input-title-ontop">
                      <div class="input-title active">Apellido:</div>
                          <input type="text" class="titleTop"  value="" maxlength="12">
                  </div>
              </div>
          </div>
          <div class="row ml-5 mr-5">
            <div class="col-6">
                <div class="input-title-ontop">
                    <div class="input-title active">Historial:</div>
                    <textarea class="titleTop" id="" cols="36" rows="3"></textarea>
                </div>
            </div>
            <div class="col-6">
                <div class="input-title-ontop">
                    <div class="input-title active">Observaciones:</div>
                    <textarea class="titleTop" id="" cols="36" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="row ml-5 mr-5 mt-5">
            <div class="col-6">
                <div class="input-title-ontop">
                    <div class="input-title active">Especialista:</div>
                    <input type="text" class="titleTop"  value="" maxlength="12">
                </div>
            </div>
            <div class="col-6">
                <div class="input-title-ontop">
                    <div class="input-title active">Fecha de nacimiento:</div>
                    <input type="text" class="titleTop"  value="" maxlength="12" >
                </div>
            </div>
        </div>
        <div class="row ml-5 mr-5">
            <div class="col-6">
            </div>
            <div class="col-6">
                <div class="input-title-ontop">
                    <div class="input-title active">Codigo:</div>
                    <input type="text" class="titleTop"  value="{{codigo}}" maxlength="12" [(ngModel)]="codigo" disabled>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div *ngIf="modalID == 2" class="modal-body">
        <div class="form-group">
          <div class="row ml-5 mr-5">
              <div class="col-6">
                <div class="input-title-ontop">
                    <div class="input-title active">Cédula:</div>
                    <input type="number" class="titleTop" maxlength="12" value="{{cedula}}" required> 
                </div>
              </div>
              <div class="col-6">
                  <div class="input-title-ontop">
                      <div class="input-title active">Telefono:</div>
                          <input type="text" class="titleTop"  value="{{telefono}}" maxlength="12" [(ngModel)]="telefono"> 
                  </div>
            </div>
          </div>
          <div class="row ml-5 mr-5">
              <div class="col-6">
                  <div class="input-title-ontop">
                      <div class="input-title active">Nombre:</div>
                          <input type="text" class="titleTop"  value="{{nombre}}" maxlength="12" [(ngModel)]="nombre" required> 
                  </div>
              </div>
              <div class="col-6">
                  <div class="input-title-ontop">
                      <div class="input-title active">Apellido:</div>
                          <input type="text" class="titleTop"  value="{{apellido}}" maxlength="12" [(ngModel)]="apellido" required>
                  </div>
              </div>
          </div>
          <div class="row ml-5 mr-5">
            <div class="col-6">
                <div class="input-title-ontop">
                    <div class="input-title active">Historial:</div>
                    <textarea class="titleTop" id="" cols="36" rows="3" [(ngModel)]="historial"></textarea>
                </div>
            </div>
            <div class="col-6">
                <div class="input-title-ontop">
                    <div class="input-title active">Observaciones:</div>
                    <textarea class="titleTop" id="" cols="36" rows="3" [(ngModel)]="observaciones"></textarea>
                </div>
            </div>
        </div>
        <div class="row ml-5 mr-5 mt-5">
            <div class="col-6">
                <div class="input-title-ontop">
                    <div class="input-title active">Fecha de nacimiento:</div>
                    <input type="text" class="titleTop"  value="13/10/1995" maxlength="12">
                </div>
            </div>
            <div class="col-6">
                <div class="input-title-ontop">
                    <div class="input-title active">Codigo:</div>
                    <input type="text" class="titleTop"  value="P-01" maxlength="12" disabled>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div *ngIf="modalID == 3" class="modal-body">
        <div class="form-group">
            <div class="row mt-n4">
                <div class="col-12 container-curved">
                    <div class="header row text-center mb-2 mt-n3">
                        <div class="col-3 header-title">Fecha</div>
                        <div class="col-5 header-title">Tratamiento</div>
                        <div class="col-3 header-title">Medico</div>
                        <div class="col-1 header-title"></div>
                    </div>
                    <div class="row ml-2">
                        <div class="col-3 container-payment mt-2 text-center">
                            <span class="text-gray">21/05/2020</span>
                        </div>
                        <div class="col-5 container-payment mt-2 text-center">
                            <span class="text-gray">Tratamiento con láser para acné</span>
                        </div>
                        <div class="col-3 container-payment mt-2 text-center">
                            <span class="text-gray">Rafael Medina</span>
                        </div>
                    </div>
                    <div class="row ml-2">
                        <div class="col-3 container-payment mt-2 text-center">
                            <span class="text-gray">28/05/2020</span>
                        </div>
                        <div class="col-5 container-payment mt-2 text-center">
                            <span class="text-gray">Depilación de vello con láser</span>
                        </div>
                        <div class="col-3 container-payment mt-2 text-center">
                            <span class="text-gray">Rafael Medina</span>
                        </div>
                    </div>
                    <div class="row ml-2">
                        <div class="col-3 container-payment mt-2 text-center">
                            <span class="text-gray">28/05/2020</span>
                        </div>
                        <div class="col-5 container-payment mt-2 text-center">
                            <span class="text-gray">Exfoliación de la piel</span>
                        </div>
                        <div class="col-3 container-payment mt-2 text-center">
                            <span class="text-gray">Merida Rodriguez</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="modalID == 4" class="modal-body">
        <div class="form-group">
            <div class="row mt-n4">
                <div class="col-12 container-curved">
                    <div class="header row text-center mb-2 mt-n3">
                        <div class="col-2 header-title">Fecha</div>
                        <div class="col-2 header-title">Tratamiento</div>
                        <div class="col-2 header-title">Monto</div>
                        <div class="col-2 header-title">Medio</div>
                        <div class="col-2 header-title">Cancelado</div>
                        <div class="col-1 header-title"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-2 container-payment text-center">
                            <span class="text-gray">21/05/2020</span>
                        </div>
                        <div class="col-2 container-payment text-center">
                            <span class="text-gray">1-(T-04)</span>
                        </div>
                        <div class="col-2 container-payment text-center">
                            <span class="text-gray">1000000</span>
                        </div>
                        <div class="col-2 container-payment text-center">
                            <span class="text-gray">Transferencia (Mercantil)</span>
                        </div>
                        <div class="col-2 container-payment text-center">
                            <span class="text-green">1000000</span>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-2 container-payment text-center">
                            <span class="text-gray">28/05/2020</span>
                        </div>
                        <div class="col-2 container-payment text-center">
                            <span class="text-gray">2-(T-03)</span>
                        </div>
                        <div class="col-2 container-payment text-center">
                            <span class="text-gray">1000000</span>
                        </div>
                        <div class="col-2 container-payment text-center">
                            <span class="text-gray">Divisas</span>
                        </div>
                        <div class="col-2 container-payment text-center">
                            <span class="text-green">1000000</span>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-2 container-payment text-center">
                            <span class="text-gray">28/05/2020</span>
                        </div>
                        <div class="col-2 container-payment text-center">
                            <span class="text-gray">3-(T-15)</span>
                        </div>
                        <div class="col-2 container-payment text-center">
                            <span class="text-gray">8000000</span>
                        </div>
                        <div class="col-2 container-payment text-center">
                            <span class="text-gray">Credito</span>
                        </div>
                        <div class="col-2 container-payment text-center">
                            <span class="text-green">5000000</span>
                        </div>
                        <div class="col-2 container-payment text-center">
                            <span class="text-red">-3000000</span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <button *ngIf="modalID == 1 || modalID == 2"  type="button" class="btn btn-danger" (click)="modal.close('Save click')">
          <fa-icon [icon]="times"></fa-icon>
          Cancelar
      </button>
      <button *ngIf="modalID == 1" type="button" class="btn btn-success" (click)="modal.close('Save click')">
          <fa-icon [icon]="check"></fa-icon>
          Registrar
      </button>
      <button *ngIf="modalID == 2" type="button" class="btn btn-success" (click)="modal.close('Save click')">
        <fa-icon [icon]="check"></fa-icon>
        Actualizar
    </button>
    <button *ngIf="modalID == 3 || modalID == 4" type="button" class="btn btn-success" (click)="modal.close('Save click')">
        <fa-icon [icon]="check"></fa-icon>
        Aceptar
    </button>
    </div>
  </ng-template>