
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="cursor text-gray">
            <fa-icon mat-button (click)="drawer.toggle()" class="hover-blue ml-1" [icon]="bars"></fa-icon>
        </div>
            <img class="ml-1" src="assets/logos/logo.png" width="150em" height="auto">
        <div class="collapse navbar-collapse hidden mt-n4">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown text-center">
                    <img class="iconNav">
                    <a class="nav-link dropdown-toggle textMenu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mi Perfil</a>
                    <div class="dropdown-menu cerrarSesion" aria-labelledby="navbarDropdown">
                        <div class="dropdown-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="assets/maleAvatar.png" style="height: 60px; width: 60px; border-radius: 100%;" alt="">
                                </div>
                                <div class="col-md-9 d-flex flex-column align-items-center justify-conter-center">
                                    <p class="text-black" style="margin-bottom: 0px;font-weight: bold;">Juan Perez</p>
                                    <p style="font-size: 12px; color: #040037; " class="d-flex flex-column">Administrador</p>
                                </div>
                            </div>
                            <hr style="margin-top: 14px; margin-bottom: 10px;">
                            <div class="row">
                                <div class="col-md-12 transparent-water-hover">
                                    <a (click)="closet()" style="font-size: 14px;font-weight: bold; cursor:pointer;">
                                        <i class="fas fa-sign-out-alt"></i> &nbsp; Cerrar sesión
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--/.Navbar -->
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <div class="mt-5 item cursor" (click)="menu(1)">
            <fa-icon mat-button class="hover-blue ml-3 mr-2" [icon]="cashRegister"></fa-icon> 
            Procesar Pagos
        </div>
        <div class="item cursor" (click)="menu(2)">
            <fa-icon mat-button class="hover-blue ml-3 mr-2" [icon]="calendar"></fa-icon> 
            Agenda
        </div>
        <div class="item cursor" (click)="menu(3)">
            <fa-icon mat-button class="hover-blue ml-3 mr-2" [icon]="user"></fa-icon> 
            Pacientes
        </div>
        <div class="item cursor" (click)="menu(4)">
            <fa-icon mat-button class="hover-blue ml-3 mr-2" [icon]="userMd"></fa-icon> 
            Medicos
        </div>
    </mat-drawer>
  
    <div class="example-sidenav-content">
        <div *ngIf="idMenu == 1" class="col-12" style="margin-top: 40px;">
            <app-payments></app-payments>
        </div>
        <div *ngIf="idMenu == 2" class="col-12" style="margin-top: 40px;">
            <app-schedule></app-schedule>
        </div>
        <div *ngIf="idMenu == 3" class="col-12" style="margin-top: 40px;">
            <app-patient></app-patient>
        </div>
        <div *ngIf="idMenu == 4" class="col-12" style="margin-top: 40px;">
            <app-doctor></app-doctor>
        </div>
    </div>
  
  </mat-drawer-container>
  