@import "../../../styles.sass"

.navbar
    border-bottom: solid 2px $water
.navbar:hover
    border-bottom: solid 2px $blue
.mat-drawer
    background: $blue
.effect
  height: calc(100vh - 50px)
  width: 100%
  background: #fff
  position: fixed
  left: -100%
  top: 50px
  transition: 0.1s

.bottom
  margin-top: 60vh

.opt-movil
  visibility: hidden

.navbar-dark .navbar-nav .nav-link
  color: #ffffff

.logoHeaderRegister
  width: 100px

.iconNav
  width: 20px

.textMenu
  font-size: 12px
  line-height: 3px

.logoHeader
  width: 100px
  padding-left: 17px

.iconCam
  margin-left: 16px

.navbar-movil
  overflow: hidden
  position: fixed
  bottom: 0
  width: 100%

.movilText
  font-size: 12px
  color: #ffffff

.movilNav
  visibility: hidden

.iconTwo
  margin-left: 50px !important

.cerrarSesion
  width: 306px
  left: -241px

#sidebar
  background: #fff
  height: calc(100vh - 100px)
  width: 100%
  position: fixed
  left: -100%
  top: 50px
  bottom: 50px
  transition: all ease 0.25s

.active
  left: 0 !important
  transition: all ease 0.25s

.list-group-item
  background: transparent

.logout
  width: 100%
  position: absolute
  bottom: 1px

.dropdown-item.active, .dropdown-item:active
  background-color: transparent 

.example-container 
    margin-top: 40px
    width: 100%
    height: 94.2vh
mat-drawer
    width: 250px
    margin: 0
    background: $blue

mat-drawer-content 
    display: flex
    flex-direction: column
    align-items: flex-start
.item
    padding: 15px
    font-size: 17px
    color: #fff
.item:hover
    background: #3579f1



@media only screen and (max-width: 768px)
  .opt-movil
    visibility: visible !important

  .movilNav
    visibility: visible !important



