<div class="col-12 mt-n4">
    <span class="title-carouse ml-5">Pagos Pendientes</span>
    <fa-icon (click)="open(content,2)" mat-button class="hover-blue ml-3 mr-2 cursor" [icon]="fileDollar" placement="bottom" ngbTooltip="Registrar Pago" style="font: 40px;"></fa-icon> 
    
    <ngx-slick-carousel class="carousel cursor" 
        #slickModal="slick-carousel" 
        [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <div class="text-center">
                <img src="assets/ticket.jpg" alt="" width="100%">
                <span> {{slide.contract}}</span>
            </div>
        </div>
    </ngx-slick-carousel>
</div>
<div class="row mt-4 ml-5">
    <div class="col-11 container-curved">
        <div class="header row text-center mb-2 mt-n3">
            <div class="col-4 header-title">Imagen</div>
            <div class="col-4 header-title">Datos del cliente</div>
            <div class="col-4 header-title">Datos de Spa</div>
        </div>
        <div class="row">
            <div class="col-3 container-payment cursor" (click)="open(content,1)">
                <img class="img-pay " src="assets/pago.jpg">
            </div>
            <div class="col-4">
                <div class="col-12">
                    <div class="input-title-ontop cursor-no-drop">
                        <div class="input-title active">Numero de referencia</div>
                            <input type="number" class="titleTop"  value="{{referenceInput}}" maxlength="12" disabled> 
                        <div class="message-container">
                        </div>
                    </div>
                    <div class="input-title-ontop cursor-no-drop">
                        <div class="input-title active">Monto de transacción</div>
                            <input type="text" class="titleTop"  value="{{amountInput}}" maxlength="12" disabled> 
                        <div class="message-container">
                        </div>
                    </div>
                    <div class="input-title-ontop cursor-no-drop">
                        <div class="input-title active">Medio</div>
                            <input type="text" class="titleTop"  value="{{meansInput}}" maxlength="12" disabled> 
                    </div>
                </div>
            </div>
            <div class="col-1 justify-content-center align-items-center">
                <div class="col-12">
                    <div class="input-title-ontop text-center" (click)="reference(1)">
                        <fa-icon class="cursor hover-orange" [icon]="longArrowright"></fa-icon>
                    </div>
                    <div class="input-title-ontop text-center" (click)="amount(1)">
                        <fa-icon class="cursor hover-orange" [icon]="equals"></fa-icon> 
                    </div>
                    <div class="input-title-ontop text-center" (click)="means(1)">
                        <fa-icon class="cursor hover-orange" [icon]="longArrowright"></fa-icon> 
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="col-12">
                    <div class="input-title-ontop">
                        <div class="input-title active">Numero de referencia (Validacion)</div>
                            <input type="number" class="titleTop" value="{{referenceInput2}}" maxlength="12" [(ngModel)]="referenceInput2"> 
                            <span *ngIf="referenceActive" (click)="reference(2)"><fa-icon class="cursor hover-orange" [icon]="times"></fa-icon></span>
                    </div>
                    <div class="input-title-ontop">
                        <div class="input-title active">Monto de transacción (Validacion)</div>
                            <input type="text" class="titleTop" value="{{amountInput2}}" maxlength="12" [(ngModel)]="amountInput2"> 
                            <span *ngIf="amountActive" (click)="amount(2)"><fa-icon class="cursor hover-orange" [icon]="times"></fa-icon></span>
                    </div>
                    <div class="input-title-ontop">
                        <div class="input-title active">Medio (Validacion)</div>
                        <input type="text" class="titleTop" value="{{meansInput2}}" maxlength="12" [(ngModel)]="meansInput2">
                        <span *ngIf="meansActive" (click)="means(2)"><fa-icon class="cursor hover-orange" [icon]="times"></fa-icon></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 mr-5 text-left">
            <span class="date text-gray">Pago N-<small>1</small></span>
        </div>
        <div class="col-12 col-md-5 mr-5 text-left">
            <span class="date text-gray">Paciente: <small>P-01</small></span>
        </div>
        <div class="col-12 col-md-5 mr-5 text-left">
            <span class="date text-gray">Fecha: <small>20/06/2020</small></span>
        </div>
    </div>
    <div class="col-1 d-flex flex-column justify-content-center align-items-center">
        <div>
            <button type="button" class="btn btn-success mb-5 btn-aux">
                <fa-icon [icon]="check"></fa-icon>
            </button> 
        </div>
        <div>
            <button type="button" class="btn btn-danger btn-aux">
                <fa-icon [icon]="times"></fa-icon>
            </button>
        </div>
    
    </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="modalID == 1" class="modal-body">
      <div class="col-12">
        <img class="img-pay-modal" src="assets/pago.jpg" alt="">
      </div>
      <div class="form-group">
        <div class="row ml-5 mr-5">
            <div class="col-1 d-flex justify-content-center align-items-center">
                <input (click)="reference(3)" type="checkbox" class="form-check-input">
            </div>
            <div class="col-4">
                <div class="input-title-ontop">
                    <div class="input-title active">Referencia cliente:</div>
                        <input type="number" class="titleTop" value="{{referenceInput}}" maxlength="12" disabled> 
                </div>
            </div>
            <div class="col-1 d-flex justify-content-center align-items-center width-100" (click)="reference(1)">
                <fa-icon class="cursor hover-orange" [icon]="longArrowright"></fa-icon>
            </div>
            <div class="col-4">
                <div class="input-title-ontop">
                    <div class="input-title active">Validacion:</div>
                        <input type="number" class="titleTop"  value="{{referenceInput2}}" maxlength="12" [(ngModel)]="referenceInput2"> 
                        <span *ngIf="referenceActive" (click)="reference(2)"><fa-icon class="cursor hover-orange" [icon]="times"></fa-icon></span> 
                </div>
          </div>
          <div class="col-2 d-flex justify-content-start align-items-center">
            <fa-icon [ngClass]="{'text-green':greenReference, 'text-orange':orangeReference}" class="ml-3 text-gray-2" [icon]="CheckSquare"></fa-icon>
            <fa-icon [ngClass]="{'text-green':referenceAccept}"  class="ml-3 text-gray-2" [icon]="CheckSquare"></fa-icon>
            <fa-icon class="ml-3 text-gray-2" [icon]="CheckSquare"></fa-icon>
          </div>
        </div>
        <div class="row ml-5 mr-5">
            <div class="col-1 d-flex justify-content-center align-items-center">
                <input (click)="amount(3)" type="checkbox" class="form-check-input" id="exampleCheck1">
            </div>
            <div class="col-4">
                <div class="input-title-ontop">
                    <div class="input-title active">Monto cliente:</div>
                        <input type="number" class="titleTop"  value="{{amountInput}}" maxlength="12" disabled> 
                    <div class="message-container">
                    </div>
                </div>
            </div>
            <div class="col-1 d-flex justify-content-center align-items-center" (click)="amount(1)">
                <fa-icon class="cursor hover-orange" [icon]="equals"></fa-icon>
            </div>
            <div class="col-4 cursor-no-drop">
                <div class="input-title-ontop">
                    <div class="input-title active">Monto Spa:</div>
                        <input type="number" class="titleTop"  value="{{amountInput2}}" maxlength="12" [(ngModel)]="amountInput2">
                        <span *ngIf="amountActive" (click)="amount(2)"><fa-icon class="cursor hover-orange" [icon]="times"></fa-icon></span> 
                </div>
            </div>
          <div class="col-2 d-flex justify-content-start align-items-center">
            <fa-icon [ngClass]="{'text-green':greenAmount, 'text-orange':orangeAmount}" class="ml-3 text-gray-2" [icon]="CheckSquare"></fa-icon>
            <fa-icon [ngClass]="{'text-green':amountAccept}" class="ml-3 text-gray-2" [icon]="CheckSquare"></fa-icon>
            <fa-icon class="ml-3 text-gray-2" [icon]="CheckSquare"></fa-icon>
          </div>
        </div>
        <div class="row ml-5 mr-5">
            <div class="col-1 d-flex justify-content-center align-items-center">
                <input (click)="means(3)" type="checkbox" class="form-check-input" id="exampleCheck1">
            </div>
            <div class="col-4">
                <div class="input-title-ontop">
                    <div class="input-title active">Medio cliente:</div>
                        <input type="text" class="titleTop" value="{{meansInput}}" maxlength="12" disabled> 
                    <div class="message-container">
                    </div>
                </div>
            </div>
            <div class="col-1 d-flex justify-content-center align-items-center" (click)="means(1)">
                <fa-icon class="cursor hover-orange" [icon]="longArrowright"></fa-icon>
            </div>
            <div class="col-4">
                <div class="input-title-ontop">
                    <div class="input-title active">Medio Spa:</div>
                        <input type="text" class="titleTop"  value="{{meansInput2}}" maxlength="12" [(ngModel)]="meansInput2"> 
                        <span *ngIf="meansActive" (click)="means(2)"><fa-icon class="cursor hover-orange" [icon]="times"></fa-icon></span>
                </div>
            </div>
          <div class="col-2 d-flex justify-content-center align-items-center">
            <fa-icon [ngClass]="{'text-green':greenMeans, 'text-orange':orangeMeans}" class="ml-3 text-gray-2" [icon]="CheckSquare"></fa-icon>
            <fa-icon [ngClass]="{'text-green':meansAccept}" class="ml-3 text-gray-2" [icon]="CheckSquare"></fa-icon>
            <fa-icon class="ml-3 text-gray-2" [icon]="CheckSquare"></fa-icon>
          </div>
        </div>
      </div>
  </div>
  <div *ngIf="modalID == 2" class="modal-body">
    <div class="form-group">
        <div class="row ml-5 mr-5">
            <div class="col-1 d-flex justify-content-center align-items-center">
            </div>
            <div class="col-4">
                <div class="input-title-ontop">
                    <div class="input-title active">Fecha:</div>
                    <input type="text" class="titleTop" maxlength="20"> 
                </div>
            </div>
            <div class="col-1 d-flex justify-content-center align-items-center width-100" (click)="reference(1)">
            </div>
            <div class="col-4">
                <div class="input-title-ontop">
                    <div class="input-title active">Codigo de Tratamiento:</div>
                    <input type="text" class="titleTop" maxlength="20"> 
                </div>
          </div>
          <div class="col-2 d-flex justify-content-start align-items-center">
          
          </div>
        </div>
      <div class="row ml-5 mr-5">
          <div class="col-1 d-flex justify-content-center align-items-center">
              <input (click)="reference(3)" type="checkbox" class="form-check-input">
          </div>
          <div class="col-4">
              <div class="input-title-ontop">
                  <div class="input-title active">Referencia:</div>
                      <input type="number" class="titleTop" maxlength="12"> 
              </div>
          </div>
          <div class="col-1 d-flex justify-content-center align-items-center width-100" (click)="reference(1)">
              <fa-icon class="cursor hover-orange" [icon]="longArrowright"></fa-icon>
          </div>
          <div class="col-4">
              <div class="input-title-ontop">
                  <div class="input-title active">Validacion:</div>
                      <input type="number" class="titleTop"  value="{{referenceInput2}}" maxlength="12" [(ngModel)]="referenceInput2"> 
                      <span *ngIf="referenceActive" (click)="reference(2)"><fa-icon class="cursor hover-orange" [icon]="times"></fa-icon></span> 
              </div>
        </div>
        <div class="col-2 d-flex justify-content-start align-items-center">
          <fa-icon [ngClass]="{'text-green':greenReference, 'text-orange':orangeReference}" class="ml-3 text-gray-2" [icon]="CheckSquare"></fa-icon>
          <fa-icon [ngClass]="{'text-green':referenceAccept}"  class="ml-3 text-gray-2" [icon]="CheckSquare"></fa-icon>
          <fa-icon class="ml-3 text-gray-2" [icon]="CheckSquare"></fa-icon>
        </div>
      </div>
      <div class="row ml-5 mr-5">
          <div class="col-1 d-flex justify-content-center align-items-center">
              <input (click)="amount(3)" type="checkbox" class="form-check-input" id="exampleCheck1">
          </div>
          <div class="col-4">
              <div class="input-title-ontop">
                  <div class="input-title active">Monto:</div>
                      <input type="number" class="titleTop" maxlength="12" value=" " [(ngModel)]="amountInput"> 
                  <div class="message-container">
                  </div>
              </div>
          </div>
          <div class="col-1 d-flex justify-content-center align-items-center" (click)="amount(1)">
              <fa-icon class="cursor hover-orange" [icon]="equals"></fa-icon>
          </div>
          <div class="col-4">
              <div class="input-title-ontop">
                  <div class="input-title active">Monto Spa:</div>
                      <input type="number" class="titleTop"  value="{{amountInput2}}" maxlength="12" [(ngModel)]="amountInput2" disabled>
                      <span *ngIf="amountActive" (click)="amount(2)"><fa-icon class="cursor hover-orange" [icon]="times"></fa-icon></span> 
              </div>
          </div>
        <div class="col-2 d-flex justify-content-start align-items-center">
          <fa-icon [ngClass]="{'text-green':greenAmount, 'text-orange':orangeAmount}" class="ml-3 text-gray-2" [icon]="CheckSquare"></fa-icon>
          <fa-icon [ngClass]="{'text-green':amountAccept}" class="ml-3 text-gray-2" [icon]="CheckSquare"></fa-icon>
          <fa-icon class="ml-3 text-gray-2" [icon]="CheckSquare"></fa-icon>
        </div>
      </div>
      <div class="row ml-5 mr-5">
          <div class="col-1 d-flex justify-content-center align-items-center">
              <input (click)="means(3)" type="checkbox" class="form-check-input" id="exampleCheck1">
          </div>
          <div class="col-4">
              <div class="input-title-ontop">
                  <div class="input-title active">Medio:</div>
                  <select class="titleTop select-none">
                    <option value="2">Efectivo</option>
                    <option value="3">Debito</option>
                    <option value="4">Credito</option>
                    <option value="6">Divisas</option>
                    <option value="6">Transferencia (Mercantil)</option>
                    <option value="7">Transferencia (Banesco)</option>
                    <option value="8">Pago Movil (Mercantil)</option>
                    <option value="9">Pago Movil (Banesco)</option>
                </select>
              </div>
          </div>
          <div class="col-1 d-flex justify-content-center align-items-center" (click)="means(1)">
              <fa-icon class="cursor hover-orange" [icon]="longArrowright"></fa-icon>
          </div>
          <div class="col-4">
              <div class="input-title-ontop">
                  <div class="input-title active">Medio Spa:</div>
                      <input type="text" class="titleTop"  value="{{meansInput2}}" maxlength="12" [(ngModel)]="meansInput2"> 
                      <span *ngIf="meansActive" (click)="means(2)"><fa-icon class="cursor hover-orange" [icon]="times"></fa-icon></span>
              </div>
          </div>
        <div class="col-2 d-flex justify-content-center align-items-center">
          <fa-icon [ngClass]="{'text-green':greenMeans, 'text-orange':orangeMeans}" class="ml-3 text-gray-2" [icon]="CheckSquare"></fa-icon>
          <fa-icon [ngClass]="{'text-green':meansAccept}" class="ml-3 text-gray-2" [icon]="CheckSquare"></fa-icon>
          <fa-icon class="ml-3 text-gray-2" [icon]="CheckSquare"></fa-icon>
        </div>
      </div>
    </div>
</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
        <fa-icon [icon]="times"></fa-icon>
        Rechazar
    </button>
    <button *ngIf="pago != 4 || (pago == 4 && amountInput >= amountInput2) " type="button" class="btn btn-success" (click)="modal.close('Save click')">
        <fa-icon [icon]="check"></fa-icon>
        Aprobar
    </button>
    <button *ngIf="pago == 4 && amountInput < amountInput2" type="button" class="btn btn-warning" (click)="modal.close('Save click')">
        <fa-icon [icon]="check"></fa-icon>
        Acreditar
    </button>
  </div>
</ng-template>






