@import "../../styles.sass"



.title-carouse
    font-weight: 300
    font-size: 1.5em
.slide
    width: 100%
.date
    font-size: 1.3em
    font-weight: 400
.cursor-no-drop
    cursor: no-drop
.btn-aux
    width: 45px
    max-height: 45px


@media (min-width: 768px) 


@media (min-width: 992px) 


@media (min-width: 1200px)
    .logo-bestSeller
        width: 12em
        height: 5em
    .font-size-0-8em
        font-size: 1.1em
    .font-size-1-5em
        font-size: 1.9em
    .ml-40px
        margin-left: 33px
    .ml-n40px
        margin-left: -25px
    .ml-1px
        margin-left: 12px








.container-curved
    background: $white-aux
    box-shadow: rgba(0,0,0,.5) 3px 1px 20px
    min-height: 400px
    margin-top: 10px
    padding: 14px 20px 25px 14px
.header
    margin-right: -20px
    padding: 10px
    background: $blue
.header-title
    line-height: 15px
    font-size: 1.2em
    font-weight: 200
    color: #fff

.container-payment:hover
    filter: brightness(50%) contrast(90%)

.img-pay 
    border: solid 1px $blue
    left: 0
    width: 100%
    height: 250px
.img-pay-modal
    margin-bottom: 10px 
    border-bottom: solid 1px $water
    width: 100%






.modal-header
    border-bottom: 1px solid $water
    background: $white-aux
.modal-footer
    border-top: 1px solid $water
    background: $white-aux

.modal-title
    font-weight: 100
.close:hover
    color: $water




