<div class="container mb-3 ml-5">
    <div class="row d-flex align-items-center">
        <div class="col-3 ml-5">
            <span style="color: gray;font-size: 25px;">Junio</span>
        </div>
        <div class="col-6 text-right cursor">
            <fa-icon (click)="open(content,1)" class="hover-blue mr-4 text-gray" [icon]="userPlus" placement="top" ngbTooltip="Agendar paciente"></fa-icon>
            <fa-icon (click)="open(content,2)" class="hover-blue text-gray" [icon]="search" placement="top" ngbTooltip="Buscar"></fa-icon>
          </div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"></h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div *ngIf="modalID == 1" class="modal-body">
        <div class="form-group">
          <div class="row ml-5 mr-5">
              <div class="col-6">
                  <div class="input-title-ontop">
                        <div class="input-title active">Cédula</div>
                        <input type="number" class="titleTop" maxlength="8" [(ngModel)]="cedula"> 
                        <span *ngIf="!searchActive" (click)="Search()"><fa-icon class="hover-blue mr-1 text-gray cursor" [icon]="search"></fa-icon></span>
                        <span *ngIf="searchActive" (click)="delete()"><fa-icon class="cursor hover-orange text-gray" [icon]="times"></fa-icon></span> 
                  </div>
              </div>
              <div class="col-6">
                  <div class="input-title-ontop">
                    <div class="input-title active">Paciente:</div>
                    <input type="text" class="titleTop"  value="{{nombre}}" maxlength="12" [(ngModel)]="nombre" disabled> 
                  </div>
            </div>
          </div>
          <div class="row ml-5 mr-5">
              <div class="col-6">
                  <div class="input-title-ontop">
                      <div class="input-title active">Observaciones:</div>
                          <input type="text" class="titleTop"  value="" maxlength="120"> 
                      <div class="message-container">
                      </div>
                  </div>
              </div>
              <div class="col-6" (click)="status()">
                  <div class="input-title-ontop">
                        <div class="input-title active">Tratamiento:</div>
                        <select *ngIf="searchActive" class="titleTop select-none" [(ngModel)]="tratamiento">
                            <option value="0"></option>
                            <option value="1">Inyecciones de relleno</option>
                            <option value="2">Inyecciones de botox</option>
                            <option value="3">Depilación de vello con láser</option>
                            <option value="4">Tratamiento con láser para acné</option>
                            <option value="5">Escleroterapia para las várices</option>
                            <option value="6">Radiofrecuencia facial y corporal</option>
                            <option value="7">Plasma rico en plaquetas</option>
                            <option value="8">Rejuvenecimiento facial y corporal</option>
                            <option value="9">Tratamiento preventivo anti-arrugas</option>
                            <option value="10">Micro-infiltraciones en arrugas</option>
                            <option value="11">Peeling ultrasónico</option>
                            <option value="12">Ultracavitación</option>
                            <option value="13">Carboxiterapia</option>
                            <option value="14">Velos de colágeno</option>
                            <option value="15">Exfoliación de la piel</option>
                            <option value="16">Terapia del dolor</option>
                            <option value="17">Tratamiento de ozono</option>
                            <option value="18">Limpieza facial</option>
                        </select>
                        <!-- <input type="number" class="titleTop"  value="{{amountInput2}}" maxlength="12" [(ngModel)]="amountInput2">
                        <span *ngIf="amountActive" (click)="amount(2)"><fa-icon class="cursor hover-orange" [icon]="times"></fa-icon></span>  -->
                  </div>
              </div>
          </div>
          <div class="row ml-5 mr-5">
              <div class="col-6">
                  <div class="input-title-ontop">
                      <div class="input-title active">Doctor:</div>
                          <input type="text" class="titleTop" value="{{medicoNombre}}" maxlength="12" disabled> 
                      <div class="message-container">
                      </div>
                  </div>
              </div>
              <div class="col-6">
                  <div class="input-title-ontop">
                        <div class="input-title active">Costo:</div>
                        <input type="text" class="titleTop"  value="{{monto}}" maxlength="12" disabled> 
                  </div>
              </div>
          </div>
        </div>
    </div>
    <div *ngIf="modalID == 2" class="modal-body">
      <div class="form-group">
        <div class="row ml-5 mr-5">
            <div class="col-6">
                <div class="input-title-ontop">
                      <div class="input-title active">Cédula</div>
                      <input type="number" class="titleTop" maxlength="8" [(ngModel)]="cedula"> 
                      <span *ngIf="!searchActive" (click)="Search()"><fa-icon class="hover-blue mr-1 text-gray cursor" [icon]="search"></fa-icon></span>
                      <span *ngIf="searchActive" (click)="delete()"><fa-icon class="cursor hover-orange text-gray" [icon]="times"></fa-icon></span> 
                </div>
            </div>
            <div class="col-6">
                <div class="input-title-ontop">
                  <div class="input-title active">Paciente:</div>
                  <input type="text" class="titleTop"  value="{{nombre2}}" maxlength="12" [(ngModel)]="nombre2" disabled> 
                </div>
          </div>
        </div>
        <div class="row ml-5 mr-5">
            <div class="col-6">
                <div class="input-title-ontop">
                    <div class="input-title active">Observaciones:</div>
                        <input type="text" class="titleTop"  value="" maxlength="120"> 
                    <div class="message-container">
                    </div>
                </div>
            </div>
            <div class="col-6" (click)="status()">
                <div class="input-title-ontop">
                      <div class="input-title active">Tratamiento:</div>
                      <select id="target" *ngIf="searchActive" class="titleTop select-none" [(ngModel)]="tratamiento">
                          <option value="2">Inyecciones de botox</option>
                          <option value="1">Inyecciones de relleno</option>
                          <option value="3">Depilación de vello con láser</option>
                          <option value="4">Tratamiento con láser para acné</option>
                          <option value="5">Escleroterapia para las várices</option>
                          <option value="6">Radiofrecuencia facial y corporal</option>
                          <option value="7">Plasma rico en plaquetas</option>
                          <option value="8">Rejuvenecimiento facial y corporal</option>
                          <option value="9">Tratamiento preventivo anti-arrugas</option>
                          <option value="10">Micro-infiltraciones en arrugas</option>
                          <option value="11">Peeling ultrasónico</option>
                          <option value="12">Ultracavitación</option>
                          <option value="13">Carboxiterapia</option>
                          <option value="14">Velos de colágeno</option>
                          <option value="15">Exfoliación de la piel</option>
                          <option value="16">Terapia del dolor</option>
                          <option value="17">Tratamiento de ozono</option>
                          <option value="18">Limpieza facial</option>
                      </select>
                </div>
            </div>
        </div>
        <div class="row ml-5 mr-5">
            <div class="col-6">
                <div class="input-title-ontop">
                    <div class="input-title active">Doctor:</div>
                        <input type="text" class="titleTop" value="{{medicoNombre}}" maxlength="12" disabled> 
                    <div class="message-container">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="input-title-ontop">
                      <div class="input-title active">Costo:</div>
                      <input type="text" class="titleTop"  value="{{monto}}" maxlength="12" disabled> 
                </div>
            </div>
        </div>
      </div>
  </div>
    <div class="modal-footer">
      <button *ngIf="modalID == 1 || (modalID == 2 && !searchActive)" type="button" class="btn btn-danger" (click)="modal.close('Save click')">
          <fa-icon [icon]="times"></fa-icon>
          Cancelar
      </button>
      <button *ngIf="modalID == 2 && searchActive"  type="button" class="btn btn-danger" (click)="modal.close('Save click')">
        <fa-icon [icon]="times"></fa-icon>
        Eliminar Cita
    </button>
      <button *ngIf="modalID == 1" type="button" class="btn btn-info" (click)="modal.close('Save click')">
          <fa-icon [icon]="calendarCheck"></fa-icon>
          Asignar dia
      </button>
      <button *ngIf="modalID == 2 && searchActive" type="button" class="btn btn-info" (click)="modal.close('Save click')">
        <fa-icon [icon]="calendarCheck"></fa-icon>
        Cambiar dia
    </button>
    </div>
  </ng-template>


<section id="calendar" class="collectonme">
  <div id="day-labels">
    <div class="label text-center">Dom.</div>
    <div class="label text-center">Lun.</div>
    <div class="label text-center">Mar.</div>
    <div class="label text-center">Mie.</div>
    <div class="label text-center">Jue.</div>
    <div class="label text-center">Vie.</div>
    <div class="label text-center">Sab.</div>
  </div>
  <div id="one" class="week">
    <div class="day noDate"></div>
    <div class="day">
      <span class="date">1</span>
    </div>
    <div class="day">
      <span class="date">2</span>
    </div>
    <div class="day">
      <span class="date">3</span>
    </div>
    <div class="day">
      <span class="date">4</span>
    </div>
    <div class="day">
      <span class="date">5</span>
        <div class="container mt-4 p-0 m-0">
            <span class="text-gray" style="font-size: 10px;"> <fa-icon mat-button class="hover-blue ml-3 mr-2" [icon]="user"></fa-icon>Maria Granado</span>
            <span class="text-gray" style="font-size: 10px;"> <fa-icon mat-button class="hover-blue ml-3 mr-2" [icon]="user"></fa-icon>Ana Gomez</span>
        </div>
    </div>
    <div class="day">
      <span class="date">6</span>
    </div>
  </div>
  <div id="two" class="week">
    <div class="day">
      <span class="date">7</span>
    </div>
    <div class="day">
      <span class="date">8</span>
    </div>
    <div class="day">
      <span class="date">9</span>
        <div class="container">
        </div>
    </div>
    <div class="day">
      <span class="date">10</span>
      <div class="container mt-4 p-0 m-0">
        <span class="text-gray" style="font-size: 10px;"> <fa-icon mat-button class="hover-blue ml-3 mr-2" [icon]="user"></fa-icon>Carla Vasquez</span>
    </div>
    </div>
    <div class="day">
      <span class="date">11</span>
    </div>
    <div class="day">
      <span class="date">12</span>
    </div>
    <div class="day">
      <span class="date">13</span>
    </div>
  </div>
  <div id="three" class="week">
    <div class="day">
      <span class="date">14</span>
    </div>
    <div class="day">
      <span class="date">15</span>
    </div>
    <div class="day">
      <span class="date">16</span>
    </div>
    <div class="day">
      <span class="date">17</span>
    </div>
    <div class="day">
      <span class="date">18</span>
    </div>
    <div class="day">
      <span class="date">19</span>
    </div>
    <div class="day">
      <span class="date">20</span>
    </div>
  </div>
  <div id="four" class="week">
    <div class="day">
      <span class="date">21</span>
    </div>
    <div class="day">
      <span class="date">22</span>
    </div>
    <div class="day">
      <span class="date">23</span>
    </div>
    <div class="day">
      <span class="date">24</span>
    </div>
    <div class="day">
      <span class="date">25</span>
    </div>
    <div class="day" id="christmas-day">
      <span class="date">26</span>
    </div>
    <div class="day" id="christmas-day">
        <span class="date">27</span>
      </div>
  </div>
  <div id="four" class="week">
    <div class="day">
      <span class="date">28</span>
    </div>
    <div class="day">
      <span class="date">29</span>
    </div>
    <div class="day">
        <span class="date">30</span>
    </div>
    <div class="day" style="cursor: unset;">
        <span class="date" style="color: #a1a9a15c;cursor: unset;">1</span>
    </div>
    <div class="day" style="cursor: unset;">
        <span class="date" style="color: #a1a9a15c;cursor: unset;">2</span>
    </div>
    <div class="day" style="cursor: unset;">
        <span class="date" style="color: #a1a9a15c;cursor: unset;">3</span>
    </div>
    <div class="day" style="cursor: unset;">
        <span class="date" style="color: #a1a9a15c;cursor: unset;">4</span>
    </div>

  </div>
</section>
<div id="bottom" class="collectonme"></div>
<script>
  $("#target").val($("#target option:first").val());
    $(document).ready(function() {
    $('.mdb-select').materialSelect();
var d = new Date();
var todaysDate = d.getDate();
var target = $('#calendar .week .day .date');

target.each(function(){
  var day = $(this).html();
  if (todaysDate == day) {
    $(this).addClass('today');
  }
  if (todaysDate < day){
    $(this).parent().addClass('future');
  }
  if (todaysDate >= day){
    $(this).parent().addClass('past')
  }
});

// handle clicks on days

$('.day').click(function(){
  if ($(this).hasClass('future')){
    $('#modal').addClass('active');
    $('#modal .wrapper .content .box').html("<h2>Naughty, naughty.</h2> <p>You can't look early! Check back on that day to see what I've left for you.</p>");
  }
  if ($(this).hasClass('past')){
    var content = $(this).children('.surprise').html();
    $('#modal').addClass('active');
    $('#modal .wrapper .content .box').html('');
    $('#modal .wrapper .content .box').html(content);
  }
})

// close modal

$('.close').click(function(){
  var ultimateParent = $(this).parent().parent().parent();
  ultimateParent.addClass('moveOut');
  setTimeout(function(){
    ultimateParent.removeClass('moveOut').removeClass('active');
  },250);
})

// snow effect customizations

$(document).snowfall({flakeCount : 100,collection : '.collectonme',  maxSpeed : 10});
</script>