<nav class="navbar navbar-light bg-light">
    <div class="col-6 navbar-brand">
            <img class="ml-1" src="assets/logos/logo.png" width="150em" height="auto">
    </div>
    <!-- <form class="form-inline">
        <button class="btn btn-sm btn-spa-orange" (click)="register()"> 
            <fa-icon *ngIf="loading" class="hover-blue ml-1" [icon]="iconLoading" [spin]="true"></fa-icon>
             {{textBtn}}
        </button>
        
    </form> -->
</nav>

